:root {
    --font: 'Oxygen', sans-serif;
    --background-color: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
    --button-color: #42E2B8;
    --headline-color: #42E2B8;
    --border-button: 2px solid #0F0A0A;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    background: var(--background-color);
}

h1 {
    font-weight: 700;
    font-size: 6rem;
}

h1 span {
    display: block;
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--headline-color);
    background-color: #0F0A0A;
    box-shadow: -4px 4px 1px 2px white;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px;
}

a {
    font-family: var(--font);
    font-size: 1.4rem;
    font-weight: 700;
    color: #0F0A0A;
    text-decoration: none;
}
.wrapper {
    max-inline-size: 1350px;
    margin: 0 auto;
}

button {
    block-size: 40px;
    font-size: 1.4rem;
    font-weight: 700;
    border: var(--border-button);
    border-radius: 90px;
    background-color: transparent;
    box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
}

button:hover {
    cursor: pointer;
}

.green-button {
    background-color: var(--button-color);
}

/* header section */
.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-button {
    inline-size: 150px;
}

.header-content img {
    width: 45px;
}

/* main section */
.section-container {
    margin-block-end: 40px;
}

section:nth-of-type(2) {
    text-align: center;
}
/* Hero section */
#saludo {
    font-size: 4.6rem;
}

picture, 
figure {
    inline-size: 250px;
}

picture img,
figure img {
    width: 100%;
}

.social-media--container {
    min-inline-size: 224px;
}

.social-media--icon:nth-of-type(2),
.social-media--icon:nth-of-type(3),
.social-media--icon:last-of-type {
    margin-inline-start: 15px;
}

.social-media--icon img {
    inline-size: 40px;
}

.social-media--icon:hover {
    cursor: pointer;
}

/* Projects section */
figure {
    margin: 0;
}
.project-button {
    inline-size: 100%;
    margin-block-end: 16px;
}

.github-icon--button {
    display: inline-block;
    inline-size: 25px;
    block-size: 25px;
    background-image: url(../assets/icons/icon-github.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}